.favoritesList {
  background-color: #D3D3D3;
  border-collapse: collapse;
  width: 100%;
}

.favoritesList td,
.favoritesList th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.favoritesList tr:nth-child(even) {
  background-color: #ADD8E6;
}

.favoritesList th {
  background-color: #4682B4;
  color: white;
}
